@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
@font-face {
    font-family: 'Avenir Next';
    src: url(../public/assets/fonts/AvenirNextCyr-Regular.woff2);
    font-weight: 500;
}
@font-face {
    font-family: 'Avenir Next';
    src: url(../public/assets/fonts/AvenirNextCyr-Bold.woff2);
    font-weight: 700;
}
}